@media (min-width: 992px) {
    video {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
    }
}

@media (max-width: 992px) {
    video {
        display: none;
    }

    #services, #portfolio {
        background-color: var(--bs-body-color);
    }
}

#nosotros{
    background-color: #fff;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

}

#services {
    color: #fff;
}

#services .text-muted {
    color: #cccccc !important;
}

#team {
    margin: 50px;
    border-radius: 100px
}

#portfolio {
    color: #fff;
}

#portfolio .text-muted {
    color: #cccccc !important;
}

.img-fluid {
    border-radius: 20%;
}

.portfolio-hover {
    border-radius: 20%;
}

.portfolio-caption {
    background: none !important;
}

footer {
    background-color: #fff;
}

.btncarrito {
    color: #fff;
    border: 0;
}

.titulo{
    color: #fff;
}

.footermarket {
    color: #fff;
    background-color: var(--bs-body-color);
}

.footermarket a{
    color: #fff;
}

.navimg {
  height: 64px !important;  
  width: 128px !important;
}